<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body>

    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

    <script>
        var xValues = ["bulaşık deterjanı", "toz deterjan", "sıvı sabun", "şampuan", "temizlik bezi"];
        var yValues = [@ViewBag.product1, @ViewBag.product2, @ViewBag.product3, @ViewBag.product4, @ViewBag.product5];
        var barColors = ["red", "green", "blue", "orange", "brown"];

        new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Ürün stok grafiği @DateTime.Now.Year"
                }
            }
        });
    </script>

</body>
</html>
